<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <title>WhoIsOk</title>

  </head>
  <body>

  <center>
  <h1>WhoIsOk</h1>
  <span title="authorize to obtain your contacts">
  <a href="/oauth/facebook"><img src="images/facebook_128.png" class="button" style="width:100px"></a>
  <a href="/oauth/twitter/login"><img src="images/twitter_128.png" class="button"></a>
  <a href="/oauth/google/buzz"><img src="images/google_128.png" class="button"></a>
  </span>
  <br/>
    <form action="/whoisok" method="get">
    <label>since</label> <input type=text name="epoch" style="border:1px solid;font-family:Verdana;font-size:20px" size="25"/>
    <input type="submit" style="font-size:20px;height:28px;" value="See who's ok &rarr;"/>
    <p class="examples">examples: "9pm yesterday india", "3:32am", "yesterday GMT -5:00"</p>
    </form>
  </center>

  </body>
</html>
