<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" href="css/main.css" type="text/css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


</script>    
<title>WhoIsOk</title>
</head>
<body>

<form><center>
<img src="images/facebook_128.png" class="button" style="width:100px">
<img src="images/twitter_128.png" class="button">
<img src="images/google_128.png" class="button">
<br>
<input type=text style="border:1px solid;font-family:Verdana;font-size:20px" size="25">
</br></br>
<div id="left" style="float:left;width:50%">
<p>Who is ok</p>

</div>
<div id="right">
<p>Who is Not ok</p>
</div>
</center>
</form>
</body>
</html>